body{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
h1{
    color: green;
    font-size: 50px;
}
h2{
    font-size: 30px;
    color: white;
}
h3{
    font-size: 60px;
    color: red;
}